click==7.1.2
google_api_core==1.21.0
google_cloud_core==1.7.0
label-studio-ml==1.0.8
rq
supervisor==4.2.2
uwsgi
hydra-core
pytorch_lightning
transformers
sentencepiece
youtokentome
inflect
webdataset
datasets
pyannote.core
braceexpand
editdistance
g2p_en
ipywidgets
jiwer
kaldi-python-io
kaldiio
lhotse>=1.19.2
librosa>=0.10.0
marshmallow
matplotlib
packaging
pyannote.core
pyannote.metrics
pydub
pyloudnorm
resampy
ruamel.yaml
scipy>=0.14
soundfile
sox
texterrors
